{% extends "base.html" %}



{% block content %}
<br>
<h4 class="text-center">Add new Employee.</h4>
<br />

<div class="card p-3 bg-body-secondary text-dark w-50 mx-auto fw-bolder">
  <form action="/addemployee/" method = "POST">
    {% csrf_token %}
    <div class="mb-2">
      <label for="exampleInputEmail1" class="form-label">Full name:</label>
      <input type="text" class="form-control" placeholder="Enter the employee name" name="employeename" />
    </div>
    <div class="mb-2">
      <label for="exampleInputEmail1" class="form-label">Email:</label>
      <input type="text" class="form-control" placeholder="Enter the email" name="email" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Phone:</label>
      <input
        type="tel"
        class="form-control"
        placeholder="Enter the phone number" name="phone"
      />
    </div>
    <div class="container text-center mt-2">
      <button type="submit" class="btn btn-sm btn-outline-dark">Add Employee</button>
    </div>  
  </form>
</div>
{% endblock %}
