{% extends "base.html" %}

{% block content %}
<hr  class="opacity-100">
<div class="container">
    <h4 class="text-center">All Employee Roster.</h4>
            <a class="btn btn-outline-primary btn-sm" href="#">
        Create a new employee roster  &nbsp; <i class="fa fa-plus-circle"></i>
    </a>
</div>
    <hr  class="opacity-100">
    <div class="container card  border-primary">
      <br>
      <h5 class="text-decoration-underline">List of rosters</h5>
      <br>
    </div>
{% endblock %}